@model Craft.Models.Articles
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <h3>@Model.Title</h3>
        <hr />
    </div>
    <div class="col-md-4">
        <img src="~/Upload/Images/@Model.ImageName" class="img-fluid img-thumbnail" />
        <div class="alert-dark">
            <p class="text-center font-weight-bold">@Model.DateAdded.ToString("dd MMMM yyyy")</p>
        </div>
    </div>
    <div class="col-md-8">
        <div class="jumbotron">
            @Html.Raw(Model.Descriprion)
        </div>
        <hr />
        Key Words: @Model.KeyWords
    </div>
</div>


