@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    input[type=checkbox] + label {
        display: block;
        /*margin: 0.2em;*/
        cursor: pointer;
        /* padding: 0.2em;*/
    }

    input[type=checkbox] {
        display: none;
    }

        input[type=checkbox] + label:before {
            content: "\2714";
            border: 0.1em solid #000;
            border-radius: 0.2em;
            display: inline-block;
            width: 1.4em;
            height: 1.5em;
            padding-left: 0.2em;
            padding-bottom: 0.3em;
            margin-right: 0.2em;
            vertical-align: bottom;
            color: transparent;
            transition: .2s;
        }

        input[type=checkbox] + label:active:before {
            transform: scale(0);
        }

        input[type=checkbox]:checked + label:before {
            background-color: #8e0d0d;
            border-color: #8e0d0d;
            color: #fff;
        }

        input[type=checkbox]:disabled + label:before {
            transform: scale(1);
            border-color: #aaa;
        }

        input[type=checkbox]:checked:disabled + label:before {
            transform: scale(1);
            background-color: #bfb;
            border-color: #bfb;
        }
        label{
            font-size: 15px;

        }
    .card-custom{
        border:0px;
        padding:0px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">CPU</li>
            </ol>
        </nav>


        <div class="jumbotron">
            <h4>Short brief</h4>
            <div class="">
                <h5 class="card-title">What is CPU?</h5>
                <p class="card-text">
                    A central processing unit (CPU), also called a central processor or main processor, is the electronic circuitry within a computer that carries out the instructions of a computer program by performing the basic arithmetic, logic, controlling, and input/output (I/O) operations specified by the instructions. The computer industry has used the term "central processing unit" at least since the early 1960s.[1] Traditionally, the term "CPU" refers to a processor, more specifically to its processing unit and control unit (CU), distinguishing these core elements of a computer from external components such as main memory and I/O circuitry.[2]

                    The form, design, and implementation of CPUs have changed over the course of their history, but their fundamental operation remains almost unchanged. Principal components of a CPU include the arithmetic logic unit (ALU) that performs arithmetic and logic operations, processor registers that supply operands to the ALU and store the results of ALU operations and a control unit that orchestrates the fetching (from memory) and execution of instructions by directing the coordinated operations of the ALU, registers and other components.

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        
        <div class="d-block">
            <a onclick="rotFun(1)" class="btn  w-100 clearfix left-btn" style="border-bottom: 1px solid black; border-radius: 0px; padding-left: 0px; margin-bottom: 5px" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i id="icon1" class="fa fa-chevron-down pull-left" style="padding: 5px;background-color: #f3f3f3;border-radius: 50%; transition: 0.3s"></i>
                <h5 style=" display: inline-block">Vendor</h5>
            </a>    
            <div class="collapse show" id="collapseExample">
                <div class="card card-body card-custom">
                    <input type="checkbox" id="fruit1" name="fruit-1" value="Apple">
                    <label for="fruit1">
                        AMD
                        <span class="badge badge-dark pull-right"> 55</span>
                    </label>
                    <input type="checkbox" id="comp1" name="comp1" value="Apple">
                    <label for="comp1">
                        INTEL
                        <span class="badge badge-dark pull-right"> 105</span>
                    </label>
                </div>
            </div>
            
        </div>
        <br />
        <div class="d-block">
            <a onclick="rotFun(2)" class="btn  w-100 clearfix left-btn" style="border-bottom: 1px solid black; border-radius: 0px; padding-left: 0px; margin-bottom: 5px"
               data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                <i id="icon2" class="fa fa-chevron-down pull-left" style="padding: 5px;background-color: #f3f3f3;border-radius: 50%; transition: 0.3s"></i>
                <h5 style=" display: inline-block">CPU Model</h5>
            </a>
            <div class="collapse show" id="collapseExample1">
                <div class="card card-body card-custom">
                    <input type="checkbox" id="fruit2" name="fruit-2" value="Apple">
                    <label for="fruit2">
                        i3
                        <span class="badge badge-dark pull-right"> 55</span>
                    </label>
                    <input type="checkbox" id="comp2" name="comp2" value="Apple">
                    <label for="comp2">
                        i5
                        <span class="badge badge-dark pull-right"> 105</span>
                    </label>
                </div>
            </div>

        </div>
    </div>

    <div class="col-md-10 flex-container">
        <div class="row" style="background-color: #e9ecef; padding: 15px; border-radius: 5px; margin-bottom: 10px; margin-right:0px; margin-left: 0px">
            
            <div class="col-md-4" style="padding-left: 0px; padding-right: 0px; ">
                <label for="filter">Filter By <span class="fa fa-filter"></span></label>
                <select id="filter" name="filter" class="form-control d-inline-block">
                    <option selected>Chose</option>
                    <option>By prise Low to High</option>
                    <option>By prise High to Low</option>
                </select>
            </div>
            <div class="col-md-4" >
                <label for="filter1">Search by CPU Name <span class="fa fa-search"></span></label>
                <input name="filter1" class="form-control" placeholder="Name" />
            </div>
        </div>
        <div class="card-group" style="margin-left: 0px">
            <div class="card" >
                <img src="~/Upload/Images/i7procesor.png" style="padding: 10px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Intel Core i7-8700K Processor 3.7GHz 8.0GT/s 12MB LGA 1151 CPU</h5>
                    <div class="card-text">
                        <table class="w-100">
                            <tr class="tr-style">
                                <th class="th-style">Proccessor:</th>
                                <td class="td-style">Intel Core i7-8700K</td>
                            </tr>
                            <tr class="tr-style">
                                <th class="th-style">Clock:</th>
                                <td class="td-style">3.7GHz</td>
                            </tr>
                            <tr class="tr-style">
                                <th class="th-style">Generation:</th>
                                <td class="td-style">8</td>
                            </tr>
                            <tr class="tr-style">
                                <th class="th-style">Socket: <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Socket type is important when you pick CPU" style="color: dodgerblue"></span></th>
                                <td class="td-style">1151</td>
                            </tr>
                            <tr class="tr-style">
                                <th class="th-style">Prise ~</th>
                                <td class="td-style">250 $</td>
                            </tr>
                        </table>
                    </div>
                    <div class="w-100 text-center">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Add on board" class="btn btn-outline-dark add-on-board-btn w-20" style="border-radius: 50%">
                            <i class="fa fa-plus "></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Quick preview" class="btn btn-outline-primary add-on-board-btn w-20" style="border-radius: 50%">
                            <i class="fa fa-search"></i>
                        </a>

                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Full preview" class="btn btn-outline-danger add-on-board-btn w-20" style="border-radius: 50%">
                            <i class="fa fa-list-alt"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Compare" class="btn btn-outline-warning add-on-board-btn w-20" style="border-radius: 50%">
                            <i class="fa fa-exchange"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Add to favourites" class="btn btn-outline-dark add-on-board-btn w-20" style="border-radius: 50%">
                            <i class="fa fa-heart"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="card">
                <img src="~/Upload/Images/i7procesor.png" style="padding: 10px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Intel Core i7-8700K Processor 3.7GHz 8.0GT/s 12MB LGA 1151 CPU</h5>
                    <div class="card-text">
                        <table class="w-100">
                            <tr class="tr-style">
                                <th class="th-style">Proccessor:</th>
                                <td class="td-style">Intel Core i7-8700K</td>
                            </tr>
                            <tr class="tr-style">
                                <th class="th-style">Clock:</th>
                                <td class="td-style">3.7GHz</td>
                            </tr>
                            <tr class="tr-style">
                                <th class="th-style">Generation:</th>
                                <td class="td-style">8</td>
                            </tr>
                            <tr class="tr-style">
                                <th class="th-style">Socket: <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Socket type is important when you pick CPU" style="color: dodgerblue"></span></th>
                                <td class="td-style">1151</td>
                            </tr>
                            <tr class="tr-style">
                                <th class="th-style">Prise ~</th>
                                <td class="td-style">250 $</td>
                            </tr>
                        </table>
                    </div>
                    <div class="w-100 text-center">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Add on board" class="btn btn-outline-dark add-on-board-btn w-20" style="border-radius: 50%">
                            <i class="fa fa-plus "></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Quick preview" class="btn btn-outline-primary add-on-board-btn w-20" style="border-radius: 50%">
                            <i class="fa fa-search"></i>
                        </a>

                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Full preview" class="btn btn-outline-danger add-on-board-btn w-20" style="border-radius: 50%">
                            <i class="fa fa-list-alt"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Compare" class="btn btn-outline-warning add-on-board-btn w-20" style="border-radius: 50%">
                            <i class="fa fa-exchange"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Add to favourites" class="btn btn-outline-dark add-on-board-btn w-20" style="border-radius: 50%">
                            <i class="fa fa-heart"></i>
                        </a>
                    </div>

                </div>
            </div>
            <div class="card" >
                <img src="~/Upload/Images/i7procesor.png" style="padding: 10px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Intel Core i7-8700K Processor 3.7GHz 8.0GT/s 12MB LGA 1151 CPU</h5>
                    <div class="card-text">
                        <table class="w-100">
                            <tr class="tr-style">
                                <th class="th-style">Proccessor:</th>
                                <td class="td-style">Intel Core i7-8700K</td>
                            </tr>
                            <tr class="tr-style">
                                <th class="th-style">Clock:</th>
                                <td class="td-style">3.7GHz</td>
                            </tr>
                            <tr class="tr-style">
                                <th class="th-style">Generation:</th>
                                <td class="td-style">8</td>
                            </tr>
                            <tr class="tr-style">
                                <th class="th-style">Socket: <span class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Socket type is important when you pick CPU" style="color: dodgerblue"></span></th>
                                <td class="td-style">1151</td>
                            </tr>
                            <tr class="tr-style">
                                <th class="th-style">Prise ~</th>
                                <td class="td-style">250 $</td>
                            </tr>
                        </table>
                    </div>
                    <div class="w-100 text-center">
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Add on board" class="btn btn-outline-dark add-on-board-btn w-20" style="border-radius: 50%">
                            <i class="fa fa-plus "></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Quick preview" class="btn btn-outline-primary add-on-board-btn w-20" style="border-radius: 50%">
                            <i class="fa fa-search"></i>
                        </a>

                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Full preview" class="btn btn-outline-danger add-on-board-btn w-20" style="border-radius: 50%">
                            <i class="fa fa-list-alt"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Compare" class="btn btn-outline-warning add-on-board-btn w-20" style="border-radius: 50%">
                            <i class="fa fa-exchange"></i>
                        </a>
                        <a href="#" data-toggle="tooltip" data-placement="bottom" title="Add to favourites" class="btn btn-outline-dark add-on-board-btn w-20" style="border-radius: 50%">
                            <i class="fa fa-heart"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        
        <br />
        <div class="d-flex flex-row justify-content-center" >
            <nav aria-label="Page navigation" >
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        
    </div>

    
   
</div>
@section Scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });


        function rotFun(id) {
            var icon = $("#icon"+id).attr('class');
           

            if (icon.includes("left-btn-active")) {
                $("#icon" + id).removeClass('left-btn-active');
            }
            else {
                $("#icon" + id).addClass('left-btn-active');
            }
            
        }
    </script>
}
