/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.bg-red-logo {
    background-color: #8e0d0d;
}
.nav-item {
    margin: auto;
    font-size: 15px;
    font-weight: bold;
}
.jumbotron {
    padding: 2rem 2rem;
}
.tr-style {
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}

.th-style {
    padding: 10px;
    background-color: #efefef;
}

.card-text {
    margin-bottom: 10px;
}

.td-style {
    padding: 5px 0px 5px 5px;
}

.card-body {
    padding: 0.35rem;
}

.flex-container > div {
    margin-left: 10px;
}

.add-on-board-btn {
    margin-bottom: 10px;
}
a {
    color: #8e0d0d;
}

a:hover{
    color:#7d1515;
}
a:focus{
    color:#7d1515;
}
a:active{
    color:#7d1515;
}
/*.btn-down-up:hover > .fa-angle-down::before {
    content: "\f077";
}*/

.left-btn-active{
    transform: rotate(180deg);
    transition: 0.3s;

}
.left-btn:focus, .left-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem white;
}
h5 {
    font-size: 1.15rem;
}